{
  "run_list": [
    "recipe[sudo]",
    "recipe[apt]",
    "recipe[build-essential]",
    "recipe[ohai]",
    "recipe[runit]",
    "recipe[git]",
    "recipe[postgresql::server]",
    "recipe[postgresql::server-dev]",
    "recipe[postgresql::libpq]",
    "recipe[nginx::default]",
    "recipe[nginx::apps]",
    "recipe[ruby]",
    "recipe[chef-rails]"
  ],

  "authorization": {
    "sudo": {
      "groups":       ["admin", "wheel", "sysadmin"],
      "users":        ["vagrant"],
      "passwordless": true
    }
  },

  "postgresql": {
    "users": [
      {
        "username"  : "vagrant",
        "password"  : "asdf1234",
        "superuser" : true,
        "createdb"  : true,
        "login"     : true
      }
    ],

    "databases": [
      {
        "name"      : "app1",
        "owner"     : "vagrant",
        "template"  : "template0",
        "encoding"  : "utf8",
        "locale"    : "en_US.UTF8"
      },
      {
        "name"      : "app2",
        "owner"     : "vagrant",
        "template"  : "template0",
        "encoding"  : "utf8",
        "locale"    : "en_US.UTF8"
      }
    ],

    "pg_hba": [
      "local  all   all                 trust",
      "host   all   all   127.0.0.1/32  md5",
      "host   all   all   ::1/128       md5"
    ]
  },

  "nginx": {
    "distribution": "oneiric",
    "components":   ["main"],
    "default_site": false,
    "apps": {
      "app1": {
        "listen"     : [80],
        "server_name": "app1.example.com",
        "public_path": "/home/vagrant/public_html/app1/public",
        "locations": [
          {
            "path": "/",
            "directives": [
              "proxy_set_header X-Forwarded-Proto $scheme;",
              "proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;",
              "proxy_set_header X-Real-IP $remote_addr;",
              "proxy_set_header Host $host;",
              "proxy_redirect off;",
              "proxy_http_version 1.1;",
              "proxy_set_header Connection '';",
              "proxy_pass http://localhost:8000;"
            ]
          }
        ]
      },
      "app2": {
        "listen"     : [80],
        "server_name": "app2.example.com",
        "public_path": "/home/vagrant/public_html/app2/public",
        "locations": [
          {
            "path": "/",
            "directives": [
              "proxy_set_header X-Forwarded-Proto $scheme;",
              "proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;",
              "proxy_set_header X-Real-IP $remote_addr;",
              "proxy_set_header Host $host;",
              "proxy_redirect off;",
              "proxy_http_version 1.1;",
              "proxy_set_header Connection '';",
              "proxy_pass http://localhost:10000;"
            ]
          }
        ]
      }
    }
  },

  "languages": {
      "ruby": {
          "default_version": "1.9.1"
      }
  },

  "chef-rails": {
    "packages": ["libxml2-dev", "libxslt1-dev"]
  }
}